body {
    background-color: cornsilk;
}
.navbar {
    z-index : 1;
 
}

.photo {
    width: 100%;
    height : 400px;
    background-image: url(photo.jpg);  
    background-color: rgba(255,255,255,0.2);
    opacity : 1;
    background-size: cover;
    width : 100% ;
    margin-bottom : 25px;
}

.cont {
    z-index: 1;
}
   
.goody {
    background-color: darkgrey;
    position : fixed ;
    top : 0px;
    z-index: 1;
}
    




.cont {
    height: 500px;
}






.nice1 {
    position : absolute;
    text-align: center;
    margin-top: 150px;
    margin-left: 530px;
    

}
.head{
    z-index: 1;
    font-weight: bolder;
    font-style: oblique;
    font-variant: small-caps;
    text-shadow: 4px 4px 2px rgba(150 ,150 , 150 ,1);
}

.foot {
    height : 260px;
    width : 95%;
    border : 2px solid black;
    margin : 20px;
}
   
 .par {
     font-size: 20px;
     padding: 5px;
     margin:5px;
     margin-top: 40px;
 }

 .ok {
     padding : 5px;
     margin : 2px;
     margin-left: 3px;
 }

 #para1 {
     padding : 10px;
     font-size: 20px;
 }

 .link {
     font-size: 50px;
     font-weight: bold;
     padding : 5px;
 }

 .conta{
     margin-left: 20px;
     padding: 20px;
     font-size: 60px ;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 .rowed {
     height : 100%;
     width : 150%;
     padding: 40px;
     margin-top: 50px;
 }

 #num{
     padding : 12px;
     margin:2px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 #idd {
    padding : 12px;
    margin:2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

 }

 .kk{
     width: 210%;
     min-width: 100%;
     padding : 10px;
     margin-top: 10px;
     margin : 5px;
 }

 .li{
     padding:20px;
 }

 .cl {
     padding: 15px;
 }
 .ml {
    padding: 15px;
}
.cnt {
    padding: 30px;
}

.int {
   font-family: serif;
   padding : 15px;
   margin : 2px;
}

.intr {
    font-family: sans-serif;
}

.into {
    padding : 20px;
}

.ski{
    font-family: serif;
    padding : 15px;
    margin : 2px;
 }

 .skil {
    padding : 25px;
 }

 .card3 {
     width : 100%;
     max-width : 210%;
     padding : 15px;
     margin : 10px;
   
 }
 .hob{
    font-family: serif;
    padding : 20px;
    margin : 2px;
   
 }
 .cards{
    margin-left: 30px;
 }
 
 .educ {
     padding: 40px;
 }

 .gam {
    padding: 40px;
}

.btn1{
    font-size: 20px;
    width : 110px;
    height : 40px;

}

.feed {
    padding : 20px;
}

.cer {
    font-family: serif;
}

.cert {
    padding: 0px;
}