.navbar {
    z-index : 1;
 
}

.photo {
    width: 100%;
    height : 400px;
    background-image: url(photo.jpg);  
    background-color: rgba(255,255,255,0.2);
    opacity : 1;
    background-size: cover;
    width : 100% ;
}
   
.goody {
    background-color: darkgrey;
    position : sticky ;
    top : 0px;
}
    




.cont {
    height: 500px;
}






.nice1 {
    position : absolute;
    text-align: center;
    margin-top: 150px;
    margin-left: 530px;
    

}
.head{
    font-weight: bolder;
    font-style: oblique;
    font-variant: small-caps;
    text-shadow: 4px 4px 2px rgba(150 ,150 , 150 ,1);
}

.foot {
    height : 180px;
    width : 95%;
    border : .5px solid black;
    margin : 20px;
}
   
 .par {
     font-size: 18px;
     padding: 5px;
     margin:5px;
     margin-top: 40px;
 }

 .ok {
     padding : 5px;
     margin : 2px;
     margin-left: 3px;
 }

 #para1 {
     padding : 10px;
     font-size: 20px;
 }

 .link {
     font-size: 50px;
     font-weight: bold;
     padding : 5px;
 }

 .card-title{
     margin-left: 20px;
     padding: 20px;
     font-size: 60px ;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 .rowed {
     height : 100%;
     width : 150%;
     padding: 40px;
 }

 #num{
     padding : 12px;
     margin:2px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 #idd {
    padding : 12px;
    margin:2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

 }